.container {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(3, 50px);
    background: #9AE66E;
   }
   .sidebar {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    background: #FF5959;
   }
   .main {
    grid-column: 1 / span 2;
    grid-row: 2 / 3;
    background: #548CFF;
   }