.container {
  width: 900%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background: #f5f9f3;
  box-shadow: 0 2px 4px #e2ebfc;
}
header .logo {
  color: #2a73dc;
}
header nav a {
  color: #1d365e;
  transition: 0.3s;
  position: relative;
}
header nav a::before {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  background: #2a73dc;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
}
header nav a:hover::before, header nav a.active::before {
  width: 100%;
}
header nav a:hover {
  color: #2a73dc;
}
header nav a.active {
  color: #2a73dc;
}

.banner {
  background-image: url("../image/product-header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.banner h2 {
  color: #2a73dc;
}
.banner h3 {
  color: #1d365e;
}
.banner .infor {
  border-radius: 8px;
  padding: 15px 50px;
  background: #fff;
  color: #2a73dc;
}
.banner .shop {
  border-radius: 8px;
  padding: 15px 50px;
  background: #2a73dc;
  color: #fff;
}

.product {
  background: #f5f9f3;
}
.product .list .item {
  box-shadow: 6px 6px 12px #e2ebfc -6px -6px 12px #fff;
  padding: 40px;
}
.product .list .img_wrapper {
  box-shadow: 6px 6px 12px #e2ebfc -6px -6px 12px #fff;
}
.product .list img {
  width: 100%;
}
.product .list .desc {
  display: flex;
}/*# sourceMappingURL=index.css.map */