/*h1 : selector
text-align : property
center: value */
/* tag name */
h1{
    text-align: center;
}
/* class name */
.heading2, p{
    background-color: green;
}
/* id */
#title2{
    color: white;
}
.section1 p{
    font-size: 30px;
}
/* chỉ áp dụng p -> direct child -> section1 */
.section1 > p{

}
.section1 span{
    color: red;
}
*{
    font-weight: bold;
}
/* div + h3{
    background-color: yellow;
}
*/
div ~ h3{
    background-color: yellow;
}

p[class="section1"] {
background-color: violet;
}
/*  */
