body {
  font-family: ti;
}

.container {
  width: 95%;
  height: 100vh;
  display: flex;
  justify-self: center;
  align-items: center;
}

.hex-colors {
  text-align: center;
}

.hex-colors h1 {
  font-size: 2rem;
  text-transform: uppercase;
  animation: colorChange 5s infinite alternate;
}

.hex-colors h2 {
    font-size: 2rem;
    margin-top: 15%;
}

@keyframes colorChange {
    0% {
        color: indigo;
    }
    20% {
        color: blue;
    }
    40% {
        color: green;
    }
    60% {
        color: yellow;
    }
    80% {
        color: orange;
    }
    100% {
        color: red;
    }
}


