h2 {
    color: blue;
    font-size: 40px;
}
h6 {
    color: green;
}
#title {
    color: black;
}
.item {
    background: orange;
    color: white;
    border: 1px solid black;
    margin-top: 50px;
    font-size: 20px;
}
/* call item class in title class */
.title .item {
    background: blue;
}