h1 {
    background-color: #ff0000;
    color: #ffffff;
  }

/* table of content start */
  .tcontent {
    font-size: 20px;
  }
/* table of content end */

/* article start */
  .article {
    color: #ffffff;
    background-color: #a52a2a;
  }
  .article h2 {
    text-align: center;
    font-size: 40px;
  }
  .article p {
    font-size: 30px;
    text-align: justify;
  }
  .article ul {
    font-size: 25px;
  }
  .article b {
    color: black;
  }
  .article img {
    width: 50%;
  }
/* article end */

/* menu start */
.menu h2 {
  text-align: center;
}
/* menu end */