body {
    background-color: grey;
  }
  .article {
    background-color: white;
    font-size: 20px;
    width: 60%;
    margin: auto;
  }
  .article h2 {
    text-align: center;
    color: brown;
    font-size: 40px;
  }
  .article img {
    width: 100%;
  }