/* GLOBAL START*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
.clear {
    clear: both;
}
/* GLOBAL END*/

/* HEADER START*/
.header {
    background-color: #f8e1db;
    padding: 0 90px;
}
.header img {
    padding: 10px 0;
    height: 80px;
}
.header a {
    text-decoration: none;
    color: black;
    size: 30px;
}
.header ul {
    list-style-type: none;
    padding: 5px 0 15px;
}
.header li {
    display: inline;
    margin-right: 40px;
    font-size: 20px;
}
/* CAROUSEL */
.carousel {
    background: url(../img/BG.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    height: 635px;
}
/* HEADER END*/

/* ACTIVITIES START */
.activities {
    background-color: #faf4f2;
    padding: 70px 0;
    text-align: center;
}
.activities__title {
    padding-bottom: 35px;
}
.activities__title h2 {
    color: #8d8d8d;
    font-size: 28px;
}
.activities__item {
    float: left;
    margin: auto;
    width: 25%;
}
.activities__card {
    padding: 40px;
    background-color: white;
    margin: 0 16px;
    border-radius: 20px;
}
.activities__img {
    position: relative;
}
.activities__img img {
    width: 100%;
    border-radius: 20px;
}
.activities__heart {
    width: 42px;
    height: 42px;
    /* make an object center vertical: line-height = height */
    line-height: 42px; 
    position: absolute;
    top: 20px;
    right: 20px;
    color: #e76f51;
    z-index: 10;
    cursor: pointer;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 14px;
}
.activities__detail h3 {
    padding: 12px 0;
}
.activities__detail p {
    line-height: 20px;
    color: #8d8d8d;
    padding-bottom: 20px;
}
.activities__detail button {
    color: #8d8d8d;
    background-color: #e8e8e8;
    border: 1px solid rgb(232, 232, 232);
    padding: 8px 55px;
    border-radius: 25px;
    font-weight: 500;
}
.activities__show {
    margin-top: 40px;
}
.activities__show button {
    color: #e97c61;
    background-color: transparent;
    border: 1px solid #e97c61;
    padding: 8px 70px;
    border-radius: 25px;
}
.activities__detail button:hover, .activities__show button:hover {
    background-color: #e76f51;
    color: white;
}

/* CONTACT */
.contact {
    background-color: #f8e1db;
    border-radius: 20px;
    margin-bottom: 100px;
}

.contact__left, .contact__right {
    /* height: 300px; */
    float: left;
    width: 50%;
    padding: 20px 60px;
}

.contact__left {
    background: url(../img/mask.png);
    background-size: contain;
    background-position: center;
}

.contact__right {
    padding-top: 70px;
    color: #8d8d8d;
}

.contact__right p {
    margin: 12px 0 30px;
}

.contact__right h3 {
    margin-bottom: 21px;
}

.contact__app, .contact__us {
    float: left;
    width: 50%;
}

.contact__us i {
    color: #e76f51;
    font-size: 25px;
    margin-right: 10px;
}
/* ACTIVITIES END */

/* FOOTER START */
.footer {
    background-color: #f8e1db;
    border-radius: 100px 100px 0 0;
    padding: 100px 30px;
    color: #3a3735;
}

.footer h3 {
    font-size: 18px;
    margin-bottom: 21px;
}
.footer__about {
    float: left;
    width: 40%;
    line-height: 28px;
    padding: 0 20px;
}

.footer__list {
    float: left;
    width: 60%;
    padding: 0 20px;
}
.footer__nav {
    float: left;
    width: 33.33%;
}

.footer__nav li {
    list-style: none;
    margin-bottom: 12px;
}

.footer__nav a {
    text-decoration: none;
    color: #3b3735;
}

.footer__copyrights {
    text-align: center;
    padding-top: 30px;
}
/* FOOTER END */