* {
    box-sizing: border-box;
}
.gridview th {
  background-color: #c4cdd6;
  font-weight: bold;
}
.gridview table,
th,
td {
  border: 1px solid #434343;
}
 /* .gridview th {
    padding: 10px 20px;
} */
#tbackground {
    color: white;
    padding: 60px 50px 60px 10px;
}
