// variable
$color-white-1: #f5f9f3;
$color-white-2: #e2ebfc;
$color-blue-1: #2a73dc;
$color-blue-2: #1d365e;

//mixin
@mixin btn-theme($color-1, $color-2) {
    // border: 2px solid red;
    border-radius: 8px;
    padding: 15px 50px;
    background: $color-1;
    color: $color-2;
}

@mixin box-shadow-theme() {
    box-shadow: 6px 6px 12px #e2ebfc -6px -6px 12px #fff;
}

.container {
    width: 900%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background: $color-white-1;
    box-shadow: 0 2px 4px $color-white-2;
    .logo {
        color: $color-blue-1;
    }
    nav {
        a {
            color: $color-blue-2;
            transition: 0.3s;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                width: 0;
                height: 3px;
                background: $color-blue-1;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                transition: all 0.3s;
            }
            &:hover::before,
            &.active::before {
                width: 100%;
            }
            &:hover {
                color: $color-blue-1;
            }
            &.active {
                color: $color-blue-1;
            }
        }
    }
}

.banner {
    background-image: url("../image/product-header-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    h2 {
        color: $color-blue-1;
    }
    h3 {
        color: $color-blue-2;
    }

    .infor {
        @include btn-theme(#fff, $color-blue-1);
    }
    .shop {
        @include btn-theme($color-blue-1, #fff);
    }
}

.product {
    background: $color-white-1;
    .list {
        .item {
            @include box-shadow-theme();
            padding: 40px;
        }
        .img_wrapper {
            @include box-shadow-theme();
        }
        img {
            width: 100%;
        }
        .desc {
            display: flex;
        }
    }
}
