/* GLOBAL */
.title{
    max-width: 750px;
    margin: auto;
}
.title h2{
    font-size: 36px;
    line-height: 42px;
    color: #1a1d2d;
    font-weight: 600;
}
.title p{
    color: #585858;
    line-height: 24px;
}
/* HEADER */
header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
}
header .navbar-brand i {
    font-size: 45px;
    color: #35a22c;
}
header .navbar-brand{
    font-size: 36px;
}
header .navbar-dark .nav-brand span {
    font-size: 36px;
    color: #fff;
}
header .active .nav-link, .nav-item:hover .nav-link{
    color: #35a22c!important;
}
#navbarMyPortfolio .nav-item {
    margin: 0 10px;
}
#navbarMyPortfolio .nav-item .nav-link {
    color: #fff;
    transition: all .5s;
}
.carousel .carousel-caption h5{
    font-size: 56px;
    line-height: 65px;
}
.carousel .carousel-caption p{
    font-size: 24px;
}
/* #navbarMyPortfolio .nav-item:hover .nav-link {
    color: #35a22c !important;
} */
header .nav-item {
    position: relative;
}
header .nav-item .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #35a22c;
    height: 2px;
    width: 0%;
    transition: all .5s;
}
header .nav-item:hover .nav-link::after{
    width: 100%;
}

/* carousel */
.carousel-item img {
    height: 100vh;
    background-size:contain;
    background-position: top;
}
.carousel-caption img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.carousel-caption {
    bottom: 50%;
    transform: translateY(50%);
}
/* % position => theo thẻ cha */
/* % translate => theo chính nó */
/* .carousel-caption h2 {

} */
.carousel-item::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(39 43 54 / 50%);
    top: 0;
    right: 0;
}
.carousel-indicators {
    bottom: 80px;
}
.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #35a22c;
}
/* PROJECTS */
.project__title {
    text-align: center;
}
#projects {
    padding: 80px 0;
}
.project__navs .nav {
    justify-content: center;
    text-transform: capitalize;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #35a22c;
    border-color: #35a22c;
}
.nav-pills .nav-link {
    border: 1px solid black;
    margin: 0 5px;
    padding: 8px 16px;
    color: black;
}
.project__navs .card {
    border-radius: 16px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.project__navs .card .card-body h5{
    transition: all .3s;
}
.project__navs .card:hover .card-body h5{
    color: #35a22c;
}
.project__navs .card .card-body{
    border: 1px solid transparent;
    border-radius: 16px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
    transition: all .3s;
}
.project__navs .card:hover .card-body{
    border-color: #35a22c;
}
/* SKILLS */
.skills__item{
    text-align: center;
}
.skills{
    position: relative;
    background-image: url(../img-video/3.jpg);
    padding: 100px 0 120px;
    background-attachment: fixed;
}
.skills::before{
    content: '';
    position: absolute;
    background-color: rgb(7 10 12 / 72%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.skills__title, .skills__list {
    position: relative;
    z-index: 1;
}
.skills__item {
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255,255,255,.2);
    padding: 40px;
    border-radius: 10px;
}
.skills__item i {
    color: #35a22c;
    font-size: 50px;
}
.skills__item h3{
    font-size: 20px;
    line-height: 25px;
    font-weight: 800;
    padding-top: 25px;
}
/************* RESPONSIVE *************/