/* GLOBAL START */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 1.5;
}
.clear {
    clear: both;
}

/* HEADER */
.header {
    margin: auto;
    width: 80%;
    padding-top: 15px;
}
.header__brand {
    display: inline-block;
    font-weight: bold;
    font-size: 32px;
}
.header__brand span {
    text-align: center;
    font-size: 14px;
    color: #fdc800;
    background: #002147;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    vertical-align: text-bottom;
}
.header ul {
    list-style: none;
    padding: 17px 0;
}
.header a {
    text-decoration: none;
    color: #002146;
}
.header i {
    font-size: 14px;
    color: #dfb412;
    background-color: #002146;
    padding: 12px;
    border-radius: 50%;
    vertical-align: bottom;
    display: inline-block;
}
.header li {
    display: inline;
    font-size: 17.5px;
    margin: 0 16px;
}

/* CAROUSEL */
.carousel {
    background: url(../img/2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:top;
    height: 635px;
}

/* FEATURE */
.feature {
    margin: auto;
    width: 80%;
    padding: 70px 0;
}
.feature__left,.feature__right {
float: left;
width: 50%;
}
.feature__left h2,.feature__left p,.feature__left br {
    padding-bottom: 30px;
    margin-right: 90px;
}
.feature__right img {
    width: 100%;
}
.feature__left h2 {
    color: #002146;
    font-size: 35px;
}
.feature__left p {
    color: #797979;
    font-weight: 500;
    font-size: 17.5px;
    word-spacing: normal;
}
.feature__left button{
    font-size: 17.5px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #fdc800;
    color: #002146;
    border: 1px solid #fdc800;
    padding: 14px 32px;
}
.feature__left button:hover {
    color: #fdc800;
    background-color: #002146;
    border: #002146;
}

/* STATISTICS */
.statistics {
    background-color: #f6f6f6;
    padding: 70px 0;
}
.statistics__bar {
    margin: auto;
    width: 80%;
}
.statistics__item {
    float: left;
    width: 25%;
    color: #002146;
}
.statistics__no{
    float: left;
    width: 20%;
    font-size: 50px;
    font-weight: bold;
    vertical-align: text-bottom;
}
.statistics__des {
    float: left;
    width: 50%;
    font-size: 18px;
    line-height: 18px;
    padding-top: 13px;
    margin: 0 10px;
    vertical-align: text-bottom;
}

/* CATALOGS */
.catalogs {
    padding: 100px 0;

}
.catalogs__bar {
    margin: auto;
    width: 80%;
}
.catalogs__item {
    float: left;
    width: 25%;
}
.catalogs__item a {
    text-decoration: none;
}
/* .catalog__item a:hover {
    background-color: black;
} */
.catalogs__thing {
    color: white;
    background-color: #002146;
    margin: 18px 15px;
    padding: 35px 90px;
    text-align: center;
    border-radius: 5px;
    transition: .5s;
}
.catalogs__thing i {
    font-size: 40px;
}
.catalogs__thing p {
    font-size: 16px;
    padding-top: 20px;
}

/* NEWS START*/

.news {
    background-color: #f6f6f6;
    padding: 100px 0;
}
.news__bound {
    margin: auto;
    width: 78%;
}
.news__sec {
    float: left;
    width: 50%;
    padding: 0 35px;
}
.news__sec h2 {
    color: #1b1d2d;
    font-size: 33px;
    letter-spacing: -1px;
    font-weight: bolder;
    padding-bottom: 35px;
}
.news__part {
    padding: 27px 20px;
}
.news__part, .news__item {
    background-color: white;
}
.news__item:nth-child(2) {
    margin: 27px 0;
    padding: 27px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.news__leftThing {
    float: left;
    width: 32%;
}
.news__leftThing img {
    width: 100%;
    border-radius: 5px;
}
.news__rightThing {
    float: left;
    width: 68%;
    padding-left: 20px;
}
.news__rightThing h3, .news__events--right h3 {
    font-size: 18px;
    color: #1b1d2d;
    padding-bottom: 10px;
}
.news__rightThing h4 {
    color: #949494;
    font-weight: normal;
    padding-bottom: 10px;
}
.news__rightThing p, .news__events--right p {
    font-size: 16px;
    color: #585858;
    line-height: 24px;
}

.news__button {
    text-align: right;
    margin: 20px 0 0;
}
.news__button button {
    color: #002146;
    font-weight: 700;
    font-size: 17px;
    background-color: #fdc800;
    padding: 12px 30px;
    border: 1px solid #fdc800;
    border-radius: 5px;
}

.news__button button:hover {
    color: #fdc800;
    background-color: #002146;
    border: 1px solid #002146;
    transition: 1.5s;
}

.news__events {
    padding: 10px;
    background-color: white;
    padding: 20px;
    margin-bottom: 24px;
}
.news__events--left {
    float: left;
    width: 20%;
}
.news__events--right {
    float: left;
    width: 80%;
    padding-left: 20px;
}
.news__events--right ul {
    list-style: none;
    color: #042449;
    padding-top: 15px;
}
.news__events--right li {
    display: inline-block;
}
.news__events--right li:first-child {
    padding-right: 20px;
}
.news__events--right li:nth-child(2) {
    padding-left: 20px;
    border-left: 1px solid #bdbdbd;
}
.card {
    margin: auto;
    width: 100%;
    text-align: center;
  }
  .card__top {
    color: #002146;
    background-color: #fdc800;
    padding: 10px 30px;
    border-radius: 5px 5px 0 0;
  }
  .card__top p:first-child {
    font-weight: bolder;
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
    padding-top: 5px;
  }
  .card p:nth-child(2) {
    font-size: 16px;
    line-height: 24px;
  }
  .card__bottom {
    color: white;
    background-color: #002146;
    padding: 10px 20px;
    border-radius: 0 0 5px 5px;
  }

  /* FOOTER */
  .footer {
    background-color: #002146;
    padding: 60px 0;
  }
  .footer__container {
    margin: auto;
    width: 80%;
  }
  .footer__list, .footer__bottom {
    color: white;
  }
  .footer__list {
    float: left;
    width: 33.33%;
  }
  .footer__list:nth-child(2) {
    padding: 0 50px;
  }
  .footer__list h2 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 600;
  }
  .footer__list li {
    list-style: none;
    margin-bottom: 10px;
  }
  .footer__list i {
    color: #fdc800;
    padding-right: 10px;
  }
  .footer__list a {
    text-decoration: none;
    color: white;
  }
  .footer__bottom {
    padding-top: 32px;
    margin-top: 32px;
    border-top: 1px solid #454545;
  }
  .footer__bottom span {
    color: #ccc;
  }