/* GLOBAL START */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html, body {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: white!important;
}
.section {
    padding: 100px 0;
}
.theme--black {
    background-color: black;
}
a {
    text-decoration: none;
}
.container {
    width: 75%;
    margin: 0 auto;
}
 .title {
    text-align: center;
}
.title p:first-of-type {
    font-size: 14px;
    color: #e62b4a;
    font-weight: 300;
}
.title h2 {
    font-size: 50px;
    font-weight: 400;
}
.title p:last-of-type {
    font-size: 1rem;
    color: #888888;
    font-weight: 700;
    margin-top: 20px;
}
.title--black p:first-of-type {
    color: #888888;
    font-weight: 400;
}
.title--black h2 {
    color: black;
}
/* GLOBAL END */

/* HEADER START */
header {
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 26px 0;
    position: absolute;
    width: 100%;
    z-index: 10;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__container a {
    color: white;
}
.header__logo {
    font-size: 2rem;
    font-weight: 700;
}
.header__container ul {
    list-style: none;
}
.header__container li {
    display: inline;
    padding: 0 26px;
}
.header__container li.active a {
    color: #e62b4a;
}
.header__container li a {
    font-size: 17px;
    text-transform: uppercase;
    transition: all .5s;
}
.header__container li:hover a {
    color: #e62b4a;
}
/* HEADER END */

/* BANNER START */
.banner {
    min-height: 700px;
    background-image: url(../img/home_slider.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner h2 {
    font-size: 75px;
    line-height: 90px;
    font-weight: 700;
}
.banner p {
    font-size: 25px;
}
.banner button {
    background: #e62b4a;
    border: none;
    padding: 15px 25px;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    transition: .5s;
}
.banner button:hover {
    background: #000;
}
.banner i {
    font-size: 40px;
    color: white;
    transform: translateY(100px);
    animation-name: arrowAnimate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* transform */
@keyframes arrowAnimate {
    from {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        transform: translateY(100px);
        opacity: 0;
    }
}
@keyframes colorAnimate {
    0%{
        color: #e62b4a;
        transform: translateY(0) translateX(0) scale(2) rotate(15deg);
    }
    25%{
        color: black;
        transform: translateY(100px) translateX(100px) scale(3) rotate(65deg);
    }
    100%{
        color: yellow;
        transform: translateY(100px) translateX(-100px) scale(0.1) rotate(65deg);
    }
}
/* BANNER END */

/* CAROUSEL */
.carousel__list {
    margin-top: 20px;
}
.carousel__item {
    overflow: hidden;
}
.carousel__item .item__container {
    background: white;
    color: #888888;
    text-align: center;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    position: relative;
}
.carousel__item .item__container i {
    font-size: 28px;
}
.carousel__item .item__container p {
    text-transform: uppercase;
    margin-top: 20px;
}
.carousel__item .item__container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 5px;
    background: #e62b4a;
    transition: all .2s;
    height: 0;
    /* transform: translateY(-100%); */
}

.carousel__item .item__container:hover::before {
    /* transform: translateY(0); */
    height: 100%;
    color: #e62b4a;
}
.slick-dots li button:before {
    color: #e8e8e8;
    font-size: 14px;
    opacity: .25;
}
.slick-dots li.slick-active button:before {
    color: #e62b4a;
}
.slick-dots {
    bottom: -55px;
}
/* BLOG */
.blog {
    background: #F3F3F3;
}
.blog__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 50px auto 0;
}
.blogs__item {
    position: relative;
}
.blog .blog__content .blogs__item img {
    height: 100%;
    width: 100%;
    filter: grayscale(50%) contrast(50%);
    /* object-fit: cover => k bị bóp méo hình */
    object-fit: cover;
}
.blog__content .blog__item1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
.blog__content .blog__item2 {
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
}
.blogs__item  .blogs__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(230, 43, 74, .6);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s;
    overflow: hidden;
}
.blogs__item:hover .blogs__overlay {
    opacity: 1;
}
.blogs__item .blogs__icon i {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: #ffff;
    color: black;
    transition: all .8s;
    font-size: 14px;
    /* color: #000000; */
    transform: translateY(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.blogs__item:hover .blogs__icon i {
    /* top: 25px; */
    transform: translateY(0);

}
.blogs__item .blogs__icon:hover i {
    background: black;
    color: white;
}
.blogs__text {
    position: absolute;
    bottom: 25px;
    left: 25px;
    bottom: -30px;
    transition: all .8s;
}
.blogs__overlay:hover .blogs__text {
    bottom: 20px;
}
.blogs__text p {
    color: #D0C7C8;
}
/* NUMBER */
.number__container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.number__item {
    width: 25%;
}
.number__item h2 {
    font-size: 60px;
    font-weight: 300;
}
.number__item p:last-of-type {
    font-size: 20px;
    color: #888888;
}
/* EXPERIENCE */
.experience {
    background-image: url(../img/bussiness_img_1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.experience__content {
    margin: 30px auto 0;
}
.experience video {
    width: 100%;
    object-fit: cover;
}
/* CONTACT */
.contact__content {
    width: 70%;
    margin: 30px auto 0;
    display: flex;
    align-items: center;
}
.contact__map {
    width: 60%;
}
.contact__map iframe {
    width: 100%;
    height: 450px;
}
.contact__form{
    width: 40%;
}
.contact__form form {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}
.contact__form input,.contact__form textarea {
    font-size: 15px;
    padding: 1em;
    border: 1px solid #888888;
    border-radius: 2px;
    margin-bottom: 30px;
}
.btnMei{
    padding: 20px 30px;
    border: 1px solid black;
    background-color: #000;
    color: #ffff;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s;
}
.btnMei:hover {
    background-color: #e62b4a;
    border-color: #e62b4a;
}
/* FOOTER */
.footer__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__content p {
    font-size: 14px;
}
.footer__content a{
    width: 54px;
    height: 54px;
    line-height: 54px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    margin-left: 5px;
    background-color: rgb(255 255 255 / 20%);
    color: white;
    font-size: 16px;
    transition: all .5s;
}
.footer__content a:hover{
    background-color: #e62b4a;
}
/* BACK TO TOP START */
.backToTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    visibility: hidden;
    opacity: 0;
}
.backToTop i {
    background-color: rgb(0 0 0 / 25%);
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    border-radius: 4px;
}
.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
  }
/* BACK TO TOP END */